.accordion {
     margin-bottom: 8px;
   }
   
   .accordion-button {
     display: flex;
     justify-content: space-between;
     width: 100%;
     background-color: transparent;
     border: none;
     padding: 8px 16px;
     cursor: pointer;
     color: #ada9a0; /* Default color */
   }
   
   .accordion-button:hover {
     color: white; /* Change color on hover */
   }
   
   .accordion-content {
     overflow: hidden;
     transition: all 0.9s ease-in-out;
   }
   